#VolunteerApplication .sfm_textbox
{
    padding:1px;
}
#VolunteerApplication .sfm_textarea
{
    padding:2px;
    resize:none;
}
#VolunteerApplication .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#VolunteerApplication img
{
    border:0;
}
#VolunteerApplication .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#VolunteerApplication input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#VolunteerApplication .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#VolunteerApplication .sfm_cr_box a
{
    color:#888888;
}
#VolunteerApplication .form_outer_div
{
    border:none;
    background-color:#e5e5e5;
}
#VolunteerApplication .sfm_form_label
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
#VolunteerApplication .element_label
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
body#sfm_VolunteerApplication_body
{
    background-color:#ffffff;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#VolunteerApplication .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#VolunteerApplication .form_subheading
{
    background-color:transparent;
    font-family:Kozuka Gothic Pro B;
    font-size:24px;
    color:#333333;
    font-weight:bold;
    margin:0;
    padding:0;
}
#VolunteerApplication .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#VolunteerApplication .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#VolunteerApplication .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#VolunteerApplication .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#VolunteerApplication .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#VolunteerApplication .page_number
{
    background-color:transparent;
}
#VolunteerApplication input[type='text'],input[type='password']
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    height:25px;
    line-height:25px;
}


#VolunteerApplication #label1
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
#VolunteerApplication #label2
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
#VolunteerApplication #label3
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
#VolunteerApplication #label4
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
#VolunteerApplication #label5
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
#VolunteerApplication #label27
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
#VolunteerApplication #label28
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}

#VolunteerApplication #tb7ca3a15945318bd16a6
{
    width:5px;
    height:5px;
    display:none;
}
#VolunteerApplication #heading3_container
{
    position:absolute;
    left:40px;
    top:48px;
    width:249px;
    height:20px;
    z-index:71;
}
#VolunteerApplication #heading3
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #label1_container
{
    position:absolute;
    left:40px;
    top:88px;
    width:68px;
    height:20px;
    z-index:2;
}
#VolunteerApplication #label1
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label2_container
{
    position:absolute;
    left:438px;
    top:88px;
    width:70px;
    height:20px;
    z-index:4;
}
#VolunteerApplication #label2
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label3_container
{
    position:absolute;
    left:40px;
    top:161px;
    width:53px;
    height:20px;
    z-index:6;
}
#VolunteerApplication #label3
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label4_container
{
    position:absolute;
    left:569px;
    top:161px;
    width:118px;
    height:20px;
    z-index:9;
}
#VolunteerApplication #label4
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label5_container
{
    position:absolute;
    left:40px;
    top:216px;
    width:27px;
    height:20px;
    z-index:10;
}
#VolunteerApplication #label5
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label7_container
{
    position:absolute;
    left:660px;
    top:217px;
    width:60px;
    height:20px;
    z-index:12;
}
#VolunteerApplication #label7
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label6_container
{
    position:absolute;
    left:413px;
    top:217px;
    width:60px;
    height:20px;
    z-index:14;
}
#VolunteerApplication #label6
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label8_container
{
    position:absolute;
    left:41px;
    top:273px;
    width:88px;
    height:20px;
    z-index:16;
}
#VolunteerApplication #label8
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label9_container
{
    position:absolute;
    left:586px;
    top:273px;
    width:83px;
    height:20px;
    z-index:18;
}
#VolunteerApplication #label9
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label10_container
{
    position:absolute;
    left:315px;
    top:273px;
    width:94px;
    height:20px;
    z-index:20;
}
#VolunteerApplication #label10
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label11_container
{
    position:absolute;
    left:41px;
    top:345px;
    width:88px;
    height:20px;
    z-index:22;
}
#VolunteerApplication #label11
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label12_container
{
    position:absolute;
    left:472px;
    top:345px;
    width:78px;
    height:20px;
    z-index:25;
}
#VolunteerApplication #label12
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #heading_container
{
    position:absolute;
    left:40px;
    top:433px;
    width:204px;
    height:20px;
    z-index:68;
}
#VolunteerApplication #heading
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #label14_container
{
    position:absolute;
    left:40px;
    top:478px;
    width:160px;
    height:35px;
    z-index:1;
}
#VolunteerApplication #label14
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:11pt;
    color:#000000;
}
#VolunteerApplication #heading1_container
{
    position:absolute;
    left:40px;
    top:663px;
    width:222px;
    height:20px;
    z-index:69;
}
#VolunteerApplication #heading1
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #label16_container
{
    position:absolute;
    left:40px;
    top:709px;
    width:134px;
    height:20px;
    z-index:34;
}
#VolunteerApplication #label16
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label47_container
{
    position:absolute;
    left:375px;
    top:709px;
    width:126px;
    height:20px;
    z-index:75;
}
#VolunteerApplication #label47
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #totalHours_container
{
    position:absolute;
    left:375px;
    top:741px;
    z-index:76;
}
#VolunteerApplication #totalHours
{
    float:left;
    width:59px;
    z-index:76;
    text-align:right;
}
#VolunteerApplication #label17_container
{
    position:absolute;
    left:40px;
    top:787px;
    width:46px;
    height:20px;
    z-index:36;
}
#VolunteerApplication #label17
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label18_container
{
    position:absolute;
    left:375px;
    top:787px;
    width:49px;
    height:20px;
    z-index:38;
}
#VolunteerApplication #label18
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label19_container
{
    position:absolute;
    left:645px;
    top:787px;
    width:70px;
    height:20px;
    z-index:40;
}
#VolunteerApplication #label19
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label20_container
{
    position:absolute;
    left:40px;
    top:844px;
    width:55px;
    height:20px;
    z-index:42;
}
#VolunteerApplication #label20
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label21_container
{
    position:absolute;
    left:375px;
    top:844px;
    width:38px;
    height:20px;
    z-index:44;
}
#VolunteerApplication #label21
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label22_container
{
    position:absolute;
    left:631px;
    top:844px;
    width:115px;
    height:20px;
    z-index:46;
}
#VolunteerApplication #label22
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #heading2_container
{
    position:absolute;
    left:40px;
    top:933px;
    width:307px;
    height:20px;
    z-index:70;
}
#VolunteerApplication #heading2
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #label24_container
{
    position:absolute;
    left:40px;
    top:977px;
    width:64px;
    height:20px;
    z-index:48;
}
#VolunteerApplication #label24
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label25_container
{
    position:absolute;
    left:624px;
    top:977px;
    width:77px;
    height:20px;
    z-index:50;
}
#VolunteerApplication #label25
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label26_container
{
    position:absolute;
    left:40px;
    top:1048px;
    width:53px;
    height:20px;
    z-index:52;
}
#VolunteerApplication #label26
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label27_container
{
    position:absolute;
    left:621px;
    top:1048px;
    width:118px;
    height:20px;
    z-index:55;
}
#VolunteerApplication #label27
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label29_container
{
    position:absolute;
    left:615px;
    top:1114px;
    width:60px;
    height:20px;
    z-index:58;
}
#VolunteerApplication #label29
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label28_container
{
    position:absolute;
    left:40px;
    top:1117px;
    width:27px;
    height:20px;
    z-index:56;
}
#VolunteerApplication #label28
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label30_container
{
    position:absolute;
    left:339px;
    top:1118px;
    width:60px;
    height:20px;
    z-index:60;
}
#VolunteerApplication #label30
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label32_container
{
    position:absolute;
    left:620px;
    top:1173px;
    width:84px;
    height:20px;
    z-index:64;
}
#VolunteerApplication #label32
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label31_container
{
    position:absolute;
    left:40px;
    top:1174px;
    width:88px;
    height:20px;
    z-index:62;
}
#VolunteerApplication #label31
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label33_container
{
    position:absolute;
    left:324px;
    top:1174px;
    width:94px;
    height:20px;
    z-index:66;
}
#VolunteerApplication #label33
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #PageProgress_container
{
    position:absolute;
    left:384px;
    top:1312px;
    width:150px;
    height:18px;
    z-index:72;
}
#VolunteerApplication #PageProgress_inner_box
{
    height:14px;
}
#VolunteerApplication #PageProgress_textbox
{
    position:absolute;
    left:45px;
    top:3px;
}
#VolunteerApplication #first_name_container
{
    position:absolute;
    left:40px;
    top:108px;
    z-index:3;
}
#VolunteerApplication #first_name
{
    float:left;
    width:356px;
    z-index:3;
}
#VolunteerApplication #last_name_container
{
    position:absolute;
    left:447px;
    top:109px;
    z-index:5;
}
#VolunteerApplication #last_name
{
    float:left;
    width:356px;
    z-index:5;
}
#VolunteerApplication #Address_container
{
    position:absolute;
    left:40px;
    top:180px;
    z-index:7;
}
#VolunteerApplication #Address
{
    float:left;
    width:490px;
    z-index:7;
}
#VolunteerApplication #apt_num_container
{
    position:absolute;
    left:572px;
    top:181px;
    z-index:8;
}
#VolunteerApplication #apt_num
{
    float:left;
    width:229px;
    z-index:8;
}
#VolunteerApplication #City_container
{
    position:absolute;
    left:40px;
    top:235px;
    z-index:11;
}
#VolunteerApplication #City
{
    float:left;
    width:356px;
    z-index:11;
}
#VolunteerApplication #State_container
{
    position:absolute;
    left:443px;
    top:237px;
    z-index:15;
}
#VolunteerApplication #State
{
    float:left;
    width:197px;
    height:22px;
    z-index:15;
}
#VolunteerApplication #ZipCode_container
{
    position:absolute;
    left:666px;
    top:235px;
    z-index:13;
}
#VolunteerApplication #ZipCode
{
    float:left;
    width:138px;
    z-index:13;
}
#VolunteerApplication #homeNumber_container
{
    position:absolute;
    left:41px;
    top:294px;
    z-index:17;
}
#VolunteerApplication #homeNumber
{
    float:left;
    width:220px;
    z-index:17;
}
#VolunteerApplication #mobileNumber_container
{
    position:absolute;
    left:317px;
    top:294px;
    z-index:21;
}
#VolunteerApplication #mobileNumber
{
    float:left;
    width:220px;
    z-index:21;
}
#VolunteerApplication #workNumber_container
{
    position:absolute;
    left:586px;
    top:294px;
    z-index:19;
}
#VolunteerApplication #workNumber
{
    float:left;
    width:220px;
    z-index:19;
}
#VolunteerApplication #Email_container
{
    position:absolute;
    left:41px;
    top:367px;
    z-index:23;
}
#VolunteerApplication #Email
{
    float:left;
    width:372px;
    z-index:23;
}
#VolunteerApplication #DateofBirth_container
{
    position:absolute;
    left:473px;
    top:367px;
    width:340px;
    height:27px;
    z-index:24;
}
#VolunteerApplication #DateofBirth
{
    float:left;
    width:310px;
    z-index:24;
    margin:0px;
}
#VolunteerApplication #DateofBirth_image_container
{
    float:left;
    width:16px;
    z-index:24;
    height:100%;
    position:relative;
}
#VolunteerApplication #DateofBirth_image
{
    position:absolute;
    top:50%;
    margin-top:-8px;
}
#VolunteerApplication #areaofInterest_0_container
{
    position:absolute;
    left:40px;
    top:519px;
    width:80px;
    height:22px;
    z-index:26;
}
#VolunteerApplication #areaofInterest_1_container
{
    position:absolute;
    left:40px;
    top:560px;
    width:101px;
    height:22px;
    z-index:27;
}
#VolunteerApplication #areaofInterest_2_container
{
    position:absolute;
    left:280px;
    top:518px;
    width:101px;
    height:22px;
    z-index:28;
}
#VolunteerApplication #areaofInterest_3_container
{
    position:absolute;
    left:280px;
    top:560px;
    width:136px;
    height:22px;
    z-index:29;
}
#VolunteerApplication #areaofInterest_4_container
{
    position:absolute;
    left:611px;
    top:518px;
    width:80px;
    height:22px;
    z-index:30;
}
#VolunteerApplication #areaofInterest_5_container
{
    position:absolute;
    left:611px;
    top:560px;
    width:80px;
    height:22px;
    z-index:31;
}
#VolunteerApplication #areaofInterest_6_container
{
    position:absolute;
    left:40px;
    top:603px;
    width:80px;
    height:22px;
    z-index:32;
}
#VolunteerApplication #otherInterest_container
{
    position:absolute;
    left:106px;
    top:598px;
    z-index:33;
}
#VolunteerApplication #otherInterest
{
    float:left;
    width:197px;
    z-index:33;
}
#VolunteerApplication #startDate_container
{
    position:absolute;
    left:40px;
    top:741px;
    width:234px;
    height:27px;
    z-index:35;
}
#VolunteerApplication #startDate
{
    float:left;
    width:204px;
    z-index:35;
    margin:0px;
}
#VolunteerApplication #startDate_image_container
{
    float:left;
    width:16px;
    z-index:35;
    height:100%;
    position:relative;
}
#VolunteerApplication #startDate_image
{
    position:absolute;
    top:50%;
    margin-top:-8px;
}
#VolunteerApplication #Monday_container
{
    position:absolute;
    left:40px;
    top:809px;
    z-index:37;
}
#VolunteerApplication #Monday
{
    float:left;
    width:166px;
    z-index:37;
}
#VolunteerApplication #Tuesday_container
{
    position:absolute;
    left:375px;
    top:809px;
    z-index:39;
}
#VolunteerApplication #Tuesday
{
    float:left;
    width:166px;
    z-index:39;
}
#VolunteerApplication #Wednesday_container
{
    position:absolute;
    left:645px;
    top:809px;
    z-index:41;
}
#VolunteerApplication #Wednesday
{
    float:left;
    width:166px;
    z-index:41;
}
#VolunteerApplication #Thursday_container
{
    position:absolute;
    left:40px;
    top:866px;
    z-index:43;
}
#VolunteerApplication #Thursday
{
    float:left;
    width:166px;
    z-index:43;
}
#VolunteerApplication #Friday_container
{
    position:absolute;
    left:375px;
    top:866px;
    z-index:45;
}
#VolunteerApplication #Friday
{
    float:left;
    width:166px;
    z-index:45;
}
#VolunteerApplication #satSun_container
{
    position:absolute;
    left:645px;
    top:866px;
    z-index:47;
}
#VolunteerApplication #satSun
{
    float:left;
    width:166px;
    z-index:47;
}
#VolunteerApplication #ecName_container
{
    position:absolute;
    left:40px;
    top:1003px;
    z-index:49;
}
#VolunteerApplication #ecName
{
    float:left;
    width:498px;
    z-index:49;
}
#VolunteerApplication #ec_relation_container
{
    position:absolute;
    left:624px;
    top:1003px;
    z-index:51;
}
#VolunteerApplication #ec_relation
{
    float:left;
    width:189px;
    z-index:51;
}
#VolunteerApplication #ecAddress_container
{
    position:absolute;
    left:40px;
    top:1072px;
    z-index:53;
}
#VolunteerApplication #ecAddress
{
    float:left;
    width:498px;
    z-index:53;
}
#VolunteerApplication #ec_apt_container
{
    position:absolute;
    left:624px;
    top:1072px;
    z-index:54;
}
#VolunteerApplication #ec_apt
{
    float:left;
    width:189px;
    z-index:54;
}
#VolunteerApplication #ec_city_container
{
    position:absolute;
    left:40px;
    top:1136px;
    z-index:57;
}
#VolunteerApplication #ec_city
{
    float:left;
    width:306px;
    z-index:57;
}
#VolunteerApplication #ec_state_container
{
    position:absolute;
    left:369px;
    top:1138px;
    z-index:61;
}
#VolunteerApplication #ec_state
{
    float:left;
    width:197px;
    height:22px;
    z-index:61;
}
#VolunteerApplication #ec_zip_container
{
    position:absolute;
    left:621px;
    top:1132px;
    z-index:59;
}
#VolunteerApplication #ec_zip
{
    float:left;
    width:189px;
    z-index:59;
}
#VolunteerApplication #ec_phone_container
{
    position:absolute;
    left:40px;
    top:1195px;
    z-index:63;
}
#VolunteerApplication #ec_phone
{
    float:left;
    width:220px;
    z-index:63;
}
#VolunteerApplication #ec_mobile_container
{
    position:absolute;
    left:326px;
    top:1195px;
    z-index:67;
}
#VolunteerApplication #ec_mobile
{
    float:left;
    width:220px;
    z-index:67;
}
#VolunteerApplication #ec_work_container
{
    position:absolute;
    left:619px;
    top:1193px;
    z-index:65;
}
#VolunteerApplication #ec_work
{
    float:left;
    width:189px;
    z-index:65;
}
#VolunteerApplication #sfm_next_page_container
{
    position:absolute;
    left:834px;
    top:1282px;
    width:80px;
    height:25px;
    z-index:73;
}
#VolunteerApplication #VolunteerApplication_sfm_next_page_img
{
    width:84px;
    height:29px;
    border:none;
}
#VolunteerApplication #sfm_save_n_close_container
{
    position:absolute;
    left:399px;
    top:1282px;
    width:120px;
    height:25px;
    z-index:74;
}
#VolunteerApplication #VolunteerApplication_sfm_save_n_close_img
{
    width:124px;
    height:29px;
    border:none;
}
#VolunteerApplication #tb7ca3a15945318bd16a6
{
    width:5px;
    height:5px;
    display:none;
}
#VolunteerApplication #heading4_container
{
    position:absolute;
    left:40px;
    top:38px;
    width:193px;
    height:20px;
    z-index:10;
}
#VolunteerApplication #heading4
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #label13_container
{
    position:absolute;
    left:40px;
    top:80px;
    width:489px;
    height:37px;
    z-index:1;
}
#VolunteerApplication #label13
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    font-weight:bold;
    color:#000000;
}
#VolunteerApplication #label15_container
{
    position:absolute;
    left:40px;
    top:126px;
    width:797px;
    height:60px;
    z-index:2;
}
#VolunteerApplication #label15
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:9pt;
    color:#000000;
}
#VolunteerApplication #label34_container
{
    position:absolute;
    left:40px;
    top:306px;
    width:99px;
    height:20px;
    z-index:11;
}
#VolunteerApplication #label34
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #initial1_container
{
    position:absolute;
    left:40px;
    top:326px;
    z-index:12;
}
#VolunteerApplication #initial1
{
    float:left;
    width:200px;
    z-index:12;
}
#VolunteerApplication #heading5_container
{
    position:absolute;
    left:40px;
    top:376px;
    width:243px;
    height:20px;
    z-index:13;
}
#VolunteerApplication #heading5
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #label23_container
{
    position:absolute;
    left:40px;
    top:406px;
    width:781px;
    height:76px;
    z-index:3;
}
#VolunteerApplication #label23
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:9pt;
    color:#000000;
}
#VolunteerApplication #label35_container
{
    position:absolute;
    left:40px;
    top:476px;
    width:99px;
    height:20px;
    z-index:14;
}
#VolunteerApplication #label35
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #initial2_container
{
    position:absolute;
    left:40px;
    top:496px;
    z-index:15;
}
#VolunteerApplication #initial2
{
    float:left;
    width:200px;
    z-index:15;
}
#VolunteerApplication #heading6_container
{
    position:absolute;
    left:40px;
    top:566px;
    width:286px;
    height:20px;
    z-index:16;
}
#VolunteerApplication #heading6
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #label37_container
{
    position:absolute;
    left:40px;
    top:644px;
    width:99px;
    height:20px;
    z-index:17;
}
#VolunteerApplication #label37
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label36_container
{
    position:absolute;
    left:40px;
    top:606px;
    width:784px;
    height:60px;
    z-index:4;
}
#VolunteerApplication #label36
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    font-weight:bold;
    color:#000000;
}
#VolunteerApplication #initial3_container
{
    position:absolute;
    left:40px;
    top:664px;
    z-index:18;
}
#VolunteerApplication #initial3
{
    float:left;
    width:200px;
    z-index:18;
}
#VolunteerApplication #label38_container
{
    position:absolute;
    left:40px;
    top:719px;
    width:739px;
    height:41px;
    z-index:5;
}
#VolunteerApplication #label38
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:9pt;
    color:#000000;
}
#VolunteerApplication #label39_container
{
    position:absolute;
    left:40px;
    top:766px;
    width:99px;
    height:20px;
    z-index:19;
}
#VolunteerApplication #label39
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #initial4_container
{
    position:absolute;
    left:40px;
    top:786px;
    z-index:20;
}
#VolunteerApplication #initial4
{
    float:left;
    width:200px;
    z-index:20;
}
#VolunteerApplication #sfm_next_page1_container
{
    position:absolute;
    left:834px;
    top:846px;
    width:80px;
    height:25px;
    z-index:7;
}
#VolunteerApplication #VolunteerApplication_sfm_next_page1_img
{
    width:84px;
    height:29px;
    border:none;
}
#VolunteerApplication #sfm_prev_page_container
{
    position:absolute;
    left:5px;
    top:846px;
    width:80px;
    height:25px;
    z-index:8;
}
#VolunteerApplication #VolunteerApplication_sfm_prev_page_img
{
    width:84px;
    height:29px;
    border:none;
}
#VolunteerApplication #sfm_save_n_close1_container
{
    position:absolute;
    left:399px;
    top:846px;
    width:120px;
    height:25px;
    z-index:9;
}
#VolunteerApplication #VolunteerApplication_sfm_save_n_close1_img
{
    width:124px;
    height:29px;
    border:none;
}
#VolunteerApplication #PageProgress1_container
{
    position:absolute;
    left:384px;
    top:876px;
    width:150px;
    height:18px;
    z-index:6;
}
#VolunteerApplication #PageProgress1_inner_box
{
    height:14px;
}
#VolunteerApplication #PageProgress1_textbox
{
    position:absolute;
    left:42px;
    top:3px;
}
#VolunteerApplication #tb7ca3a15945318bd16a6
{
    width:5px;
    height:5px;
    display:none;
}
#VolunteerApplication #PageTitle_container
{
    position:absolute;
    left:3px;
    top:30px;
    width:160px;
    height:20px;
    z-index:3;
}
#VolunteerApplication #PageTitle
{
    position:absolute;
    top:10px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #heading7_container
{
    position:absolute;
    left:40px;
    top:45px;
    width:861px;
    height:20px;
    z-index:8;
}
#VolunteerApplication #heading7
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#VolunteerApplication #label40_container
{
    position:absolute;
    left:40px;
    top:97px;
    width:854px;
    height:217px;
    z-index:1;
}
#VolunteerApplication #label40
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:9pt;
    color:#000000;
}
#VolunteerApplication #label41_container
{
    position:absolute;
    left:400px;
    top:458px;
    width:148px;
    height:37px;
    z-index:2;
}
#VolunteerApplication #label41
{
    position:absolute;
    left:0px;
    top:0px;
    text-align:left;
    font-family:Arial;
    font-size:13pt;
    font-weight:bold;
    color:#000000;
}
#VolunteerApplication #label42_container
{
    position:absolute;
    left:40px;
    top:498px;
    width:64px;
    height:20px;
    z-index:9;
}
#VolunteerApplication #label42
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label43_container
{
    position:absolute;
    left:667px;
    top:498px;
    width:140px;
    height:20px;
    z-index:11;
}
#VolunteerApplication #label43
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #SSN_container
{
    position:absolute;
    left:670px;
    top:523px;
    z-index:12;
}
#VolunteerApplication #SSN
{
    float:left;
    width:149px;
    z-index:12;
    text-align:right;
}
#VolunteerApplication #fullNameAuth_container
{
    position:absolute;
    left:40px;
    top:527px;
    z-index:10;
}
#VolunteerApplication #fullNameAuth
{
    float:left;
    width:559px;
    z-index:10;
}
#VolunteerApplication #label44_container
{
    position:absolute;
    left:40px;
    top:587px;
    width:79px;
    height:20px;
    z-index:13;
}
#VolunteerApplication #label44
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label45_container
{
    position:absolute;
    left:374px;
    top:587px;
    width:150px;
    height:20px;
    z-index:14;
}
#VolunteerApplication #label45
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #label46_container
{
    position:absolute;
    left:591px;
    top:589px;
    width:203px;
    height:20px;
    z-index:15;
}
#VolunteerApplication #label46
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#VolunteerApplication #drivers_state_container
{
    position:absolute;
    left:668px;
    top:615px;
    z-index:18;
}
#VolunteerApplication #drivers_state
{
    float:left;
    width:156px;
    height:22px;
    z-index:18;
}
#VolunteerApplication #dob_container
{
    position:absolute;
    left:40px;
    top:615px;
    width:233px;
    height:27px;
    z-index:16;
}
#VolunteerApplication #dob
{
    float:left;
    width:199px;
    z-index:16;
    margin:0px;
}
#VolunteerApplication #dob_image_container
{
    float:left;
    width:20px;
    z-index:16;
    height:100%;
    position:relative;
}
#VolunteerApplication #dob_image
{
    position:absolute;
    top:50%;
    margin-top:-10px;
}
#VolunteerApplication #drivers_container
{
    position:absolute;
    left:374px;
    top:615px;
    z-index:17;
}
#VolunteerApplication #drivers
{
    float:left;
    width:227px;
    z-index:17;
}
#VolunteerApplication #sfm_next_page2_container
{
    position:absolute;
    left:834px;
    top:710px;
    width:80px;
    height:25px;
    z-index:5;
}
#VolunteerApplication #VolunteerApplication_sfm_next_page2_img
{
    width:84px;
    height:29px;
    border:none;
}
#VolunteerApplication #sfm_prev_page1_container
{
    position:absolute;
    left:5px;
    top:710px;
    width:80px;
    height:25px;
    z-index:6;
}
#VolunteerApplication #VolunteerApplication_sfm_prev_page1_img
{
    width:84px;
    height:29px;
    border:none;
}
#VolunteerApplication #sfm_save_n_close2_container
{
    position:absolute;
    left:399px;
    top:710px;
    width:120px;
    height:25px;
    z-index:7;
}
#VolunteerApplication #VolunteerApplication_sfm_save_n_close2_img
{
    width:124px;
    height:29px;
    border:none;
}
#VolunteerApplication #PageProgress2_container
{
    position:absolute;
    left:388px;
    top:740px;
    width:150px;
    height:18px;
    z-index:4;
}
#VolunteerApplication #PageProgress2_inner_box
{
    height:14px;
}
#VolunteerApplication #PageProgress2_textbox
{
    position:absolute;
    left:42px;
    top:3px;
}
